<!-- <ion-view> -->
	<button id="fab-menu" class="button button-fab button-fab-bottom-right kmenu expanded button-energized-900 spin on" menu-toggle="left" ng-click="myfct()"></button>
	<!-- <div></div> -->
<!-- </ion-view> -->

<!-- Falls mehrer Elemente in diesem File oder != button, wird <div class="pane" ....></div> um den Inhalt dieses Files gelegt  -->

<!-- <button id="left-button" class="button second-row-button left expanded"><i class="icon ion-heart"></i></button> -->

<!-- <button id="middle-button" class="button second-row-button middle expanded">middle</button> -->

<!-- <button id="right-button" class="button second-row-button right expanded">right</button>