<ion-view view-title="Page 2">
    <ion-content>
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>page2</h2>
                    <p>page2</p>
                    <i class="icon ion-chatbubbles"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/daenerys.jpg">
                    <h2> </h2>
                    <p>aaaaaaaaaaaa</p>
                    <i class="icon ion-chatbubbles"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/arya.jpg">
                    <h2>bbbbbbbbbbb</h2>
                    <p>aaaaaaaaaaaaaaaaa</p>
                    <i class="icon ion-chatbubbles"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
