<ion-view view-title="Tankstelle">
    <ion-content>
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/burger.jpg">
                    <h2>page1</h2>
                    <p>page1</p>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right" ng-click="testFunction()">
                    <img src="img/burger.jpg">
                    <h2>bbbbb</h2>
                    <p>aaaaaaaaaaaa</p>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/burger.jpg">
                    <h2>bbbbbbbbbbb</h2>
                    <p>aaaaaaaaaaaaaaaaa</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
